<h1 style="text-align: center; color: brown; text-transform: uppercase"> Welcome, welcome! </h1>
<br>
<h2 style="text-align: center; color: brown;"> Do you want to play a game? </h2>
<h3 style="text-align: center; color: brown;"> If you do, please choose an option on the top and let the show begin! </h3>
