<h1 class="rules" style="text-align: center; color: brown; text-transform: uppercase;"> The rules of the game </h1>
<br>
<p style="text-align: center; color: brown; font-size: 20px;"><b> Although the game has a lot of complexity to it, the rules to play it are pretty simple.
The game is played where players deliver hand signals that will represent the elements of the game; rock, paper and scissors. The outcome of the game is determined by 3 simple rules: </b></p>
<h2 style="text-align: center; color: brown; text-transform: uppercase"><b>Rock wins against scissors.
Scissors win against paper.
Paper wins against rock.</b></h2>
